.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%
}

.w-50 {
    width: 50%
 }

 .w-25 {
    width: 25%
 }

 .w-33{
    width: 33.333333%
 }
