body {
    margin: 0px;
    font-size: 14px;
    font-family: 'Cabin', sans-serif;;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

.row {
    display: flex;
}

.container {
    width: 100%
}

.col {
    padding: 10px;
    width: 100%;
}

#christmas_hero {
    height: 300px;
    background-color: black;
    color: white;
    letter-spacing: 0.09rem;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.w-75 {
    width: 75%
}

.w-50 {
    width: 50%
 }

 .w-25 {
    width: 25%
 }

 .underline {
    display: block;
    width: 100px;
    height: 3px;
    background-color: black;
    margin: 1em auto 0;
 }